
.sidebar_title{
    color: var(--inform_textcolor);
    font-family:Helvetica;
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
    margin-bottom: 10px;
}
.sideBar_btn{
    font-family: var(--VamFont);
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    width:inherit;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-top: 5px;
    padding-left: 20px;
    text-align: left;
    cursor: default;

}
.sideBar_btn:hover{
    color: var(--Main_blue);
    transition: 0.5s cubic-bezier(0.1,0.4,0.6,0.8);

}
.sideBar_btn_beforeClick{
    color:var(--Btn_sideText);
    background-color: transparent;
}
.sideBar_btn_AfterClick{
    color:var(--Main_blue);
    background-color: rgba(255,255,255,0.7);
}
