/*SideBar*/
.sidebar_title{
    color: var(--inform_textcolor);
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
    margin-bottom: 10px;
}
.sideBar_btn{
    font-family: var(--VamFont);
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    width:inherit;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-top: 5px;
    padding-left: 20px;
    text-align: left;
    cursor: default;

}
.sideBar_btn:hover{
    color: var(--Main_blue);
    transition: 0.2s cubic-bezier(0.1,0.4,0.6,0.8);

}
.sideBar_btn_beforeClick{
    color:var(--Btn_sideText);
    background-color: transparent;
}
.sideBar_btn_AfterClick{
    color:var(--Main_blue);
    background-color: rgba(255,255,255,0.7);
}
.btn{
    background-color: #ECEFFF;
    color: #5773FF;
    padding: 0 20px 0 20px;
    font-family: var(--VamFont);
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
 }
.btn:hover{
    background-color:#CED5FF;
    transition: 0.2s ease-in-out;
}
.btn_light{
    background-color: var(--Main_blue);
    color: white;
    padding: 0 20px 0 20px;
    font-family: var(--VamFont);
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}
.btn_light:hover{
    color: var(--Main_blue);
    background-color:#CED5FF;
    transition: 0.2s ease-in-out;
}
.little_btn{
    transform: scale(0.9);
    margin-right:20px ;
    height: 40px;
    line-height: 40px;
    width: auto;
    float: right;
}
/*NavBar*/
.LoginBar{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    width: 300px;
    height: 60px;
}
/*Footer*/


/*loginCard*/
.slipper{

    position: absolute;
    height: 34px;
    border-radius: 6px;
    background-color: var(--Main_blue);
    transition: 0.3s cubic-bezier(0.2 ,0.4 ,.6, 0.8);
    z-index: 1;
}
.switch_btn{
    font-weight: bold;
    color: var(--Main_blue);
    height: 30px;
    line-height: 30px;
    margin-left: 2px;
    padding: 0 5px 0 5px;
    z-index: 2;
    transition: 0.3s cubic-bezier(0.2 ,0.4 ,.6, 0.8);
}
.switch_btn_after{
    font-weight: bold;
    color: white;
    height: 30px;
    line-height: 30px;
    margin-left: 2px;
    padding: 0 5px 0 5px;
    z-index: 2;
    transition: 0.3s cubic-bezier(0.2 ,0.4 ,.6, 0.8);
}
