:root{
    -webkit-user-drag: none;
    -moz-user-select: none;
    user-select: none;
}
::-webkit-scrollbar{
    display: none;
}
::-moz-scrollbar{
    display: none;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--whitesmoke);
    scroll-behavior: smooth;

}

@import "~assets/img/iconfont/iconfont.css";
@import "~assets/css/ColorTheme.css";
@import "~assets/css/Btn_css.css";
@import "~assets/css/loginpage.css";
/*标签*/
input{
    max-lines: 1;
    letter-spacing:0.2pt;
    margin: 0;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 11pt;
    z-index: 0;
    caret-color:var(--Main_blue);
    color: var(--Ligth_Text);
    background-color: transparent;
}
/*类*/
.main_page{
    padding-top: 60px;
    width: calc(100vw - 500px);
    height:calc(100vh - 140px) ;
    background-color: #F8F9F9;
}
.userFriends{
    margin-top: 60px;
    width: 300px;
    height:calc(100% - 140px) ;
    background-color: #F8F9F9;
    z-index: 998;
}
.navBar{
    position: absolute;
    top: 0;
    width: calc(100vw - 200px);
    height: 40px;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.userInfo{
    margin-right: 50px;
}
.footer{
    position: absolute;
    top: calc(100vh - 80px );
    left: 0;
    width: 100vw;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 900;
}
.navBar .search{
    width: 15vw;
    height: 40px ;
    position: relative;
    float: left;
    margin-left: 6px;
    background-color: #42b983;
}

/* item_li 行块*/
.item_li{
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color:#F8F9F9 ;
    overflow-x: hidden;
    overflow-y: auto;
    padding:10px 0  20px 0;
}
.item_li_group{
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color:#F8F9F9 ;
    padding:10px 0  20px 0;
    overflow-x: auto;
    overflow-y: hidden;
}
.content_item{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 10px;
    background-color: #F8F9F9;
    height: calc(100% - 30px);
    overflow: hidden;
}
.content_item_group{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 10px;
    background-color: #F8F9F9;
    height: calc(100% - 30px);
    overflow-x: auto;
 }
.content_item_two,.content_item_one{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.column{
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
/*login*/
.cover{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);

    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginCard{
    height: 500px;
    width: 400px;
    background-color: white;
    box-shadow:0 0 15px 5px  rgba(20,20,20,0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.line_column{
    width: 4px;
    background-color: white;
    height: 100%;
}
.line_row{
    margin-top: 20px;
    background-color:#B4B4B4;
    height: 1px;
    width: 80%;
}

/*img*/

.input_group{
    height: 100%;
    width: 220px ;
}

.btn_container{
    display: flex;
    width: 90%;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.signup_container{
    margin-top: 20px;
    height: 40px;
}

.checkbox{
    height: inherit;
    width: 15px;
    margin-top: 1px;
    margin-right: 5px;
}
.check{
    margin-top: 30px;
    padding-left: 20px;
    width: 100%;
    height: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.search_img{
    background-image: url('~assets/img/搜索.svg');
    background-size: cover;
}
.type_title{
    width: 100%;
    text-align: left;
    margin-left: 20px;
    font-weight: bold;
    font-size: 18pt;
    overflow: hidden;
    color: var(--title_text) ;
}
.into_detail{
    position: absolute;
    height: 20px;
    width: 64px;
    right: 0px;
    top:18px;
    text-align: left;
    font-size: 12pt;
    margin-right: 20px;
    color: var(--title_text) ;
}
.into_detail:hover{
    border-bottom: 1px solid ;
}
/*tag*/
.playlist_tag{
    position: absolute;
    right: 50px;
    color: var(--Ligth_Text);
    background-color:#5FDEAD;
    border-radius: 2px;
    line-height: 1.1rem;
    font-weight: bolder;
    padding: 0  2px 0 2px;
    font-size: 10pt;
    transform: scale(0.8);
    z-index: 10;
}
/*tag_color*/
.ligthmusic{

}

