/* 定义字体 */
@font-face{
    font-family: circularBold;
    src: url('./lineto-circular-bold.ttf')format('truetype');
}
@font-face{
    font-family: circularnormal;
    src: url('./Circular-Book.woff.ttf')format('truetype');
}