@font-face {
  font-family: "iconfont"; /* Project id 2545711 */
  src: url('./iconfont.woff2?t=1634007731135') format('woff2'),
       url('./iconfont.woff?t=1634007731135') format('woff'),
       url('./iconfont.ttf?t=1634007731135') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Player-icon-Player-icon-loopmdpi:before {
  content: "\e60d";
}

.Player-icon-Player-icon-loopOnemdpi:before {
  content: "\e61c";
}

.Player-icon-lastmdpi:before {
  content: "\e60c";
}

.Player-icon-nextmdpi:before {
  content: "\e60b";
}

.Player-icon-list1:before {
  content: "\e76d";
}

.Player-icon-a-setup:before {
  content: "\e636";
}

.Player-icon-success:before {
  content: "\e637";
}

.Player-icon-tips:before {
  content: "\e638";
}

.Player-icon-scanning:before {
  content: "\e639";
}

.Player-icon-a-tianjiajiahao:before {
  content: "\e6a1";
}

.Player-icon-a-yinsibaohuyanzhengma:before {
  content: "\e6b1";
}

.Player-icon-LIKE:before {
  content: "\e60a";
}

.Player-icon-navigation:before {
  content: "\e61a";
}

.Player-icon-zan:before {
  content: "\e61b";
}

.Player-icon-collect:before {
  content: "\e60e";
}

.Player-icon-chart:before {
  content: "\e610";
}

.Player-icon-enshrine:before {
  content: "\e611";
}

.Player-icon-download:before {
  content: "\e612";
}

.Player-icon-file:before {
  content: "\e613";
}

.Player-icon-folder:before {
  content: "\e614";
}

.Player-icon-list:before {
  content: "\e615";
}

.Player-icon-idcard:before {
  content: "\e616";
}

.Player-icon-location:before {
  content: "\e617";
}

.Player-icon-label:before {
  content: "\e618";
}

.Player-icon-index:before {
  content: "\e619";
}

.Player-icon-shangchuan:before {
  content: "\e68d";
}

.Player-icon-bianji:before {
  content: "\e68e";
}

.Player-icon-shanchu:before {
  content: "\e68f";
}

.Player-icon-shengji:before {
  content: "\e690";
}

.Player-icon-wendang:before {
  content: "\e691";
}

.Player-icon-biaozhunban:before {
  content: "\e692";
}

.Player-icon-message_nol:before {
  content: "\e62b";
}

.Player-icon-home_nol:before {
  content: "\e62c";
}

.Player-icon-a-changepassword:before {
  content: "\e62d";
}

.Player-icon-choose_nol:before {
  content: "\e62e";
}

.Player-icon-a-personalinformation:before {
  content: "\e62f";
}

.Player-icon-choose_pre:before {
  content: "\e630";
}

.Player-icon-search:before {
  content: "\e631";
}

.Player-icon-a-untiegps:before {
  content: "\e632";
}

.Player-icon-a-helpcenter:before {
  content: "\e633";
}

.Player-icon-arrow_left:before {
  content: "\e634";
}

.Player-icon-arrow_right:before {
  content: "\e635";
}

.Player-icon-xiasanjiaoxing:before {
  content: "\e642";
}

.Player-icon-jiahao:before {
  content: "\e721";
}

.Player-icon-buoumaotubiao16:before {
  content: "\e60f";
}

.Player-icon-sanjiaoxing:before {
  content: "\e6bd";
}

.Player-icon-lowmdpi:before {
  content: "\e603";
}

.Player-icon-maxmdpi:before {
  content: "\e604";
}

.Player-icon-mutemdpi:before {
  content: "\e605";
}

.Player-icon-pausemdpi:before {
  content: "\e607";
}

.Player-icon-randommdpi:before {
  content: "\e608";
}

.Player-icon-playmdpi:before {
  content: "\e609";
}

